# Entornos virtuales
venv/
env/
.venv/
claude-env/
.env
*.env


# Directorios de construcción y distribución
build/
dist/
__pycache__/
# Ignora todos los archivos .pyc (archivos de Python compilados)
*.pyc
# Ignora todos los archivos .pyo y .pyd (Otros tipos de archivos compilados de Python)
*.pyo
*.pyd